@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue/BebasNeue-Thin.woff2") format("woff2"), url("../fonts/BebasNeue/BebasNeue-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue/BebasNeue-Light.woff2") format("woff2"), url("../fonts/BebasNeue/BebasNeue-Light.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue/BebasNeueBook.woff2") format("woff2"), url("../fonts/BebasNeue/BebasNeueBook.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue/BebasNeueRegular.woff2") format("woff2"), url("../fonts/BebasNeue/BebasNeueRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-size: 16px;
  line-height: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active, a:focus, a:active {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  width: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

a, button {
  cursor: pointer;
  color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

ol li, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.visually-hidden {
  position: absolute;
  width: 0.1px;
  height: 0.1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.icon {
  width: 30px;
  height: 30px;
  margin-bottom: 40px;
}

.main {
  background-color: #9789F9;
  padding: 45px 0;
}
.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  background-color: #F5F3F9;
  width: 250px;
}
.card__top {
  position: relative;
  padding: 40px 70px 30px;
}
.card__popular {
  position: absolute;
  top: 10px;
  right: 10px;
}
.card__info {
  text-align: center;
}
.card__prise {
  margin-bottom: 20px;
}
.card__direction {
  font-family: "Bebas Neue";
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 0.04rem;
  color: #000;
  text-transform: uppercase;
}
.card__services {
  background-image: url("../img/bg-image.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  padding: 40px 40px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__list-item {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.04rem;
  line-height: 1.25;
  color: #000;
}
.card__list-item:not(:last-child) {
  margin-bottom: 30px;
}
.card__bottom {
  position: relative;
  height: 57px;
}
.card__btn {
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 200px;
  height: 54px;
  background-color: #6FCFFB;
  border: none;
  border-radius: 30px;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.04rem;
  font-family: "Bebas Neue";
}
.card__discount {
  display: none;
}
.card--active {
  height: 673px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 397px 92px;
  grid-template-rows: auto 397px 92px;
}
.card--active .popular {
  display: unset;
}
.card--active .card__bottom {
  height: 92px;
  padding: 47px 30px 30px;
}
.card--active .card__discount {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 0.6875rem;
  font-weight: 300;
  letter-spacing: 0.04rem;
  line-height: 1.64;
  color: #A9A9A9;
  text-align: center;
}
.card--active .card__btn {
  background-color: #FD8D7B;
  top: 0;
}

.popular {
  display: none;
}
.popular__wrapper {
  position: relative;
}
.popular__one {
  position: absolute;
  background-color: #FD8D7B;
  border-radius: 50%;
  top: 0;
  right: 0;
  width: 4px;
  height: 4px;
}
.popular__two {
  position: absolute;
  background-color: #FD8D7B;
  border-radius: 50%;
  top: 4px;
  right: 6.5px;
  width: 13px;
  height: 13px;
}
.popular__three {
  position: absolute;
  background-color: #FD8D7B;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 4px;
  right: 20px;
  width: 48px;
  height: 48px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Bebas Neue";
  letter-spacing: 0.08rem;
  text-transform: uppercase;
}
.popular__lable {
  position: absolute;
  width: 97px;
  height: 30px;
  top: 45px;
  right: -20px;
}
.popular__lable span {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3B4040;
  border-radius: 50px;
  color: #fff;
  font-size: 0.75rem;
  font-family: "Bebas Neue";
  font-weight: 300;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 20px #9789F9;
          box-shadow: 0 0 20px #9789F9;
}
.popular__lable span::before {
  content: "";
  width: 10.5px;
  height: 10.5px;
  background-color: #3B4040;
  rotate: 45deg;
  position: absolute;
  left: -3px;
  top: 10px;
}

.prise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Bebas Neue";
  letter-spacing: 0.08rem;
}
.prise__value {
  color: #181818;
  font-size: 1.5rem;
  font-weight: 100;
  padding-top: 5px;
}
.prise__number {
  color: #000;
  font-size: 3.75rem;
  font-weight: 200;
}
.prise__for {
  color: #000;
  font-size: 1rem;
  font-weight: 200;
  padding-bottom: 5px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (min-width: 350px) {
  .card {
    width: 320px;
  }
  .popular__lable {
    top: 60px;
    right: -20px;
  }
}
@media only screen and (min-width: 576px) {
  .card--active {
    width: 400px;
  }
  .popular__lable {
    top: 17px;
    right: -85px;
  }
}
@media only screen and (min-width: 768px) {
  .main {
    padding: 60px 0;
  }
  .main .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 65px;
  }
  .card:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media only screen and (min-width: 1200px) {
  .main {
    padding: 120px 0;
  }
  .main .container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .card:nth-child(2) {
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
  }
}