// font size
$baseFontSize: 16px;

// font family
$robotoFont: 'Roboto', sans-serif;
$bebasNeueFont: 'BebasNeue', sans-serif;

// COLORS
$whiteColor: #fff;
$lightGreyColor: #F5F3F9;
$greyColor: #A9A9A9;
$darkGreyColor: #3B4040;
$almostBlackColor: #181818;
$blackColor: #000;
$redColor: #FD8D7B;
$blueColor: #6FCFFB;
$purpleColor: #9789F9;
